<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
  {{!-- js no tiene axios, y por ello lo requerimos  --}}
</head>
<body>

  <nav>
    <a href="/">Home</a><br>
    
    {{#if isUserLoggedIn}}
    <a href="/auth/logout">Logout</a><br>
    <div class="avatar">
    <p> {{ currentUserInfo.username }} </p>
    <img src={{currentUserInfo.img}} alt="" style="width: 4rem; height: 4rem; border-radius: 50%; object-fit: cover;">
</div>
    
    {{else}}
    <a href="/auth/signup">Signup</a><br>
    <a href="/auth/login">Login</a><br>
    {{/if}}
  </nav>
  
{{!-- con esto se muestra el avatoa de usuario SMP --}}


  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>