<h1>MI LISTA</h1>
{{#each user.list}}
<p>{{title}}</p>
<img src="https://image.tmdb.org/t/p/w1280/{{img}}" alt="">

<form action="/user/milista/{{_id}}">
  <button type="submit">Borrar</button>
</form>

{{!-- <a href="/user/milista/{{_id}}">borrar</a> --}}


{{/each}}




<h1>MI PERFIL</h1>

 <img src="{{user.img}}" alt="" srcset="">
<p>Nombre:{{user.username}}</p>
 <a href="/user/milista/update">Edit</a>
 <a href="user/milista">Actualizar</a> 
<h4>MI LISTA</h4>
{{user.lista}}
