<h1>MI PERFIL</h1>


<div class="miperfil-container">
  <img src="{{user.img}}" alt="" srcset="">
  <div class="info">
    {{!-- <p>Nombre</p> --}}
    <p>{{user.username}}</p>
   <div class="btnEdit">
      <a href="/user/milista/update">Edit</a>
   </div>
  </div>
  <h4>MI LISTA</h4>
  {{!-- <a href="/user/milista">Actualizar</a>  --}}
</div>

<div class="btnAnadir">
  <a href="/user/animo">Añadir más pelis</a>
</div>


<div class="contentMovies ">
  {{user.lista}}




{{#each user.list}}

<article class="movie list">


  <p class="p-peli ">{{title}}</p>
  <img src="https://image.tmdb.org/t/p/w1280/{{img}}" class="movie-img">

  <form action="/user/milista/{{_id}}">
    <button class="for-but delete" type="submit">Borrar</button>
  </form>

  {{!-- <a href="/user/milista/{{_id}}">borrar</a> --}}

</article>
{{/each}}

</div>
