<section class="movies-container">

<script src="/javascripts/movie.js"></script>
{{#each peli}}

  <article class="movie">

      
      <p class="p-peli">{{title}}<br>{{dates}}</p>
      
      <img src="https://image.tmdb.org/t/p/w1280/{{img}}" class="movie-img">
      <p class="overviews">{{overview}}</p>
      <a href="/user/milista/{{_id}}">mi lista</a>
      
      <button class="for-but" onclick="pepe({title:`{{title}}`, overview:`{{overview}}`, img:`{{img}}`, dates:`{{dates}}`})">añade</button>

  </article>
    {{/each}}

</section>
{{!-- <a href="/movie/formverde{{_id}}">añadir ami lista</a> --}}